:root {
  --color-primary: #ffb400;
  --color-secondary: #111213;
  --color-accent: #ec9600;
  --color-headings: #333333;
  --color-body: #888888;
}
/* 
---------------------------------------------
Copyright © 2021 Aâdila Bendahou
--------------------------------------------- 
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
  background: #f4f4f4;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background: var(--color-secondary);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--small {
  width: 54px;
  height: 54px;
}

.icon-container--accent {
  background: var(--color-accent);
}
/*Buttons*/
.btn {
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background: none;
}

.btn > a {
  text-decoration: none;
  color: var(--color-primary);
}

.btn--primary:hover > a {
  color: #fff;
}
.btn--small {
  font-size: 1.5rem;

  padding: 1.5rem 3.5rem;
}

.btn--round {
  border-radius: 40px;
}
.btn--primary {
  color: var(--color-primary);
  border: 6px solid var(--color-primary);
}

.btn--primary:hover {
  background: var(--color-primary);
  color: #fff;
}

.btn--secondary {
  color: var(--color-secondary);
  border: 6px solid var(--color-secondary);
}

.btn--secondary:hover {
  background: var(--color-secondary);
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Font awesome */
.fas {
  margin: 10px;
  margin-left: 0;
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 2px 2px var(--color-primary);
  overflow: hidden;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  border: 0;
}

.card__header,
.card__body {
  background: #fff;
  color: #000;
  padding: 2rem 7%;
}
.card__header {
  text-transform: uppercase;
  font-weight: 700;
}

.card--primary .card__header {
  background: var(--color-secondary);
  background-image: url(/images/img2.jpg);
  background-position: center center;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}
.quote__author {
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-headings);
  opacity: 1;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
  fill: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 1.5rem;
  }

  .quote__organization {
    font-size: 1rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2,
  .grid--1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */
.testimonial {
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background: white;
}

.testimonial > .grid {
  gap: 1rem;
}

.grid > .testimonial {
  align-self: center;
}
.testimonial .quote {
  margin: 2rem 0;
  font-size: 100%;
}

.testimonial__image {
  position: relative;
  margin: 1rem 3rem 0 3rem;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

.testimonial__image > .icon-container--small {
  right: -27px;
}

@media screen and (min-width: 768px) {
  .testimonial > .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .testimonial > .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial {
    margin-bottom: 3rem;
  }

  .testimonial > .grid {
    gap: 3rem;
  }
  .testimonial__image {
    align-self: center;
    margin: 0;
  }

  .testimonial .quote {
    align-self: center;

    margin: 0 1rem 0 1rem;
    font-size: 90%;
    line-height: 1.5;
  }
}

/* callout */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.callout__content > p {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
*.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* Blocks */
.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem 1rem 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-bottom: 3rem;
}

.block--dark {
  background: var(--color-secondary);
  color: #fff;
}
.block h2 {
  text-transform: uppercase;
}
.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: var(--color-primary);
  text-transform: none;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.block--skewed-left {
  padding-top: calc(var(--padding-vertical) + 4rem);
  padding-bottom: 6rem;
  clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
}

.block--skewed > .block {
  height: auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .block--skewed-left {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  }
}
/* Navigation Bar */
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
}
.nav--sticky {
  background: var(--color-secondary);

  position: sticky;
  top: 0;

  z-index: 1;
}
.navbar-scrolled {
  background: transparent;
}
.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
  width: 150px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* Hero */

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
    align-self: center;
  }

  .hero__image {
    margin-top: 0;
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 4rem;
  }
}

/* Services Block */
/* Portfolio Block */
/* Testimonials Block */

.block-services .grid {
  gap: 4rem;
}

.block-services .card {
  max-width: 500px;
  margin: 0 auto;
}

.block-testimonial > .grid {
  gap: 3rem;
}

/* Portfolio Block */

.block-portfolio .grid {
  gap: 3rem;
}
.block-portfolio {
  padding: 5rem 1rem 5rem 1rem;
}

.portfolio__image {
  object-fit: cover;
  width: 100%;
  height: 320px;
  transition: transform 0.2s;
}

.portfolio__image:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .portfolio__image:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
  }

  .block-portfolio .grid {
    gap: 4rem;
  }

  .block-portfolio {
    padding: 5rem 3rem 5rem 3rem;
  }
}
/* Contact Callout */
.callout-contact {
  background-image: url(/images/img2.jpg);
  background-position: center center;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(5rem);
}
/*  CONTACT FORM AND MAP */

.contact-section {
  margin-top: 5rem;
}
.con__form {
  height: 470px;
  padding: 3rem;
  margin-bottom: 3rem;
}

.con__form--bg,
.contact__map--bg {
  background: var(--color-primary);
  background-image: url(/images/img2.jpg);
  background-position: center center;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-contact {
  margin-top: 1rem;
}

.form-contact > .btn {
  margin-top: 0;
}

.contact__map {
  height: 400px;
}

.input--mssg {
  width: 100%;
  height: 160px;
}

.form__message {
  margin-bottom: 0;
}

.map {
  width: 100%;
  height: 400px;
  border: 0;
}

@media screen and (min-width: 768px) {
  .con__form {
    height: 400px;
    margin-bottom: 0;
  }
  .form-contact .grid {
    gap: 2rem;
  }
  .contact__map {
    order: -1;
  }
}

@media screen and (min-width: 1024px) {
  .input--mssg {
    width: 100%;
    height: 160px;
  }
}

/* Inputs*/
.input {
  width: 100%;
  border: 0;
  color: var(--color-headings);
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  padding: 1.5rem 2.5rem;
  margin-bottom: 2rem;
}

::placeholder {
  color: #15141a;
}
@media screen and (min-width: 1024px) {
  .input {
    width: none;
  }
}

/* Footer */
.footer {
  padding-top: 10rem;
}
.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img {
  max-width: 230px;
}

@media screen and (min-width: 768px) {
  .footer__brand {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    font-size: 1.5rem;
  }
  .footer__brand img {
    max-width: 200px;
  }

  .footer__brand {
    order: -1;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }
}
